@charset "UTF-8";

div#interface{
    background-color: white;
    margin: 0px auto 0px auto;
    padding: 10px;
}

section#corpo{
    display: block;
    width: 40%;
    height: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

aside#lateral{
    display: block;
    width: 60%;
    height: 500px;
    float: right;
    background-color: #dddddd;
    padding: 20px 20px 20px 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}